<div class="container">
    <div class="wrapper">
        <div>
            <div class="title">
                Form Register
            </div>
            <div class="card">
                <div class="input-group">
                    <span>Name</span>
                    <input type="text" name="name" placeholder="input your name">
                </div>
                <div class="input-group">
                    <span>Email</span>
                    <input type="email" name="email" placeholder="input your email">
                </div>
                <div class="input-group">
                    <span>No. HP</span>
                    <input type="text" name="no_hp" placeholder="input your no.hp">
                </div>
                <div class="input-group">
                    <span>Address</span>
                    <textarea name="address" style="height: 100px; resize: none;" placeholder="input your address"></textarea>
                </div>
                <div class="input-group-btn">
                    <button class="btn btn-reset" id="reset">Reset</button>
                    <button class="btn btn-primary" id="save">Save</button>
                </div>
            </div>
        </div>
        <div class="formulir-list">
            <div class="formulir-head">
                <div class="title">Formulir List</div>
                <div class="clear" id="clear">Clear</div>
            </div>
            <div class="loading">loading...</div>
            <div class="card" id="content-data">
                
            </div>
        </div>
    </div>
</div>